@use "variables" as *;
@use "mixins" as *;

@for $i from 1 through 10 {
  .m-#{$i} {
    margin: #{$i}rem;
  }
  .mt-#{$i} {
    margin-top: #{$i}rem;
  }
  .mr-#{$i} {
    margin-right: #{$i}rem;
  }
  .ml-#{$i} {
    margin-left: #{$i}rem;
  }
  .mx-#{$i} {
    margin-left: #{$i}rem;
    margin-right: #{$i}rem;
  }
  .p-#{$i} {
    padding: #{$i}rem;
  }
  .pl-#{$i} {
    padding-left: #{$i}rem;
  }
  .pr-#{$i} {
    padding-right: #{$i}rem;
  }
  .px-#{$i} {
    padding-right: #{$i}rem;
    padding-left: #{$i}rem;
  }
}
