@use "variables" as *;
@use "mixins" as *;

@for $i from 1 through 10 {
  .m-#{$i} {
    margin: #{$i}rem;
  }
  .mt-#{$i} {
    margin-top: #{$i}rem;
  }
  .mr-#{$i} {
    margin-right: #{$i}rem;
  }
  .ml-#{$i} {
    margin-left: #{$i}rem;
  }
  .mx-#{$i} {
    margin-left: #{$i}rem;
    margin-right: #{$i}rem;
  }
  .p-#{$i} {
    padding: #{$i}rem;
  }
  .pl-#{$i} {
    padding-left: #{$i}rem;
  }
  .pr-#{$i} {
    padding-right: #{$i}rem;
  }
  .px-#{$i} {
    padding-right: #{$i}rem;
    padding-left: #{$i}rem;
  }
  .h-#{$i} {
    height: calc(#{$i} * 10%);
  }
}

$auto: auto;
@each $val in $auto {
  .m-b-auto {
    margin-bottom: $val;
  }
}

.none {
  display: none !important;
}

$display: flex, none, block;
@each $val in $display {
  .#{$val} {
    display: $val;
  }
}
$justify: (
  center: center,
  between: space-between,
  around: space-around,
);
@each $key, $val in $justify {
  .justify-#{$key} {
    justify-content: $val;
  }
}
$align: (center, start, end);
@each $val in $align {
  .align-#{$val} {
    align-items: $val;
  }
}
$align: (column, row);
@each $val in $align {
  .#{$val} {
    flex-direction: $val;
  }
}
