@use "variables" as *;
@use "mixins" as *;

.w-full {
  width: 100%;
}
.flex {
  display: flex;
}
.block {
  display: block;
}
.none {
  display: none;
}
.flex-column {
  flex-direction: column;
}
.flex-row {
  flex-direction: row;
}
.justify-center {
  justify-content: center;
}
.align-center {
  align-items: center;
}
.wrap {
  flex-wrap: wrap;
}
.mx-auto {
  margin-left: auto;
  margin-right: auto;
}
.shadow-1 {
  box-shadow: 0px 2px 4px 0px #00000026;
}
.shadow-2 {
  box-shadow: 0px 4px 4px 0px #00000040;
}

.bg-grey-1 {
  background-color: $grey-1;
}
.bg-grey-light {
  background-color: $grey-light;
}
.bg-grey {
  background-color: $grey;

  & * {
    color: $light;
  }
}
.hidden {
  opacity: 0;
}
.out {
  opacity: 0;
  translate: -20px 0;
}
.-out {
  opacity: 0;
  translate: 20px 0;
}
.out-y {
  opacity: 0;
  translate: 0 -20px;
}
.-out-y {
  opacity: 0;
  translate: 0 20px;
}

$text: (
  "center": center,
  "start": start,
  "end": end,
);
@each $key, $value in $text {
  .text-#{$key} {
    text-align: #{$value};
  }
}
$position: (
  "relative": relative,
  "absolute": absolute,
);
@each $key, $value in $position {
  .#{$key} {
    position: #{$value};
  }
}

$index: (
  "0": 0,
  "1": 1,
  "2": 2,
  "3": 3,
  "4": 4,
  "5": 5,
  "6": 6,
  "7": 7,
  "8": 8,
  "9": 9,
  "10": 10,
);
@each $key, $value in $index {
  .z-#{$key} {
    z-index: $value;
  }
}
// Définition des tailles en rem
$sizes: (
  "0": 0rem,
  "1": 0.25rem,
  "2": 0.5rem,
  "3": 0.75rem,
  "4": 1rem,
  "5": 1.25rem,
  "6": 1.5rem,
  "8": 2rem,
  "10": 2.5rem,
  "12": 2.75rem,
  "14": 3rem,
);

// Génération automatique des classes `m-*`, `p-*`, `mt-*`, etc.
@each $key, $value in $sizes {
  .m-#{$key} {
    margin: $value;
  }
  .p-#{$key} {
    padding: $value;
  }
  .py-#{$key} {
    padding-top: $value;
    padding-bottom: $value;
  }
  .px-#{$key} {
    padding-left: $value;
    padding-right: $value;
  }
  .pt-#{$key} {
    padding-top: $value;
  }
  .pl-#{$key} {
    padding-left: $value;
  }
  .pr-#{$key} {
    padding-right: $value;
  }
  .pb-#{$key} {
    padding-bottom: $value;
  }
  .mt-#{$key} {
    margin-top: $value;
  }
  .mb-#{$key} {
    margin-bottom: $value;
  }
  .ml-#{$key} {
    margin-left: $value;
  }
  .mr-#{$key} {
    margin-right: $value;
  }
  .gap-#{$key} {
    gap: $value;
  }
}

.child-equal {
  & > * {
    flex: 1;
  }
}

@include media-query(lg) {
  $screens: (
    "md": 767px,
    "lg": 1023px,
  );
  @each $key, $value in $screens {
    .#{$key}__col-to-row {
      display: flex;
      flex-direction: row;
    }
    .#{$key}__col-to-row-reverse {
      display: flex;
      flex-direction: row-reverse;
    }
    .#{$key}__gap-2 {
      gap: 2rem;
    }
  }
  .max-w-lg {
    max-width: 1055px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
    padding-right: 0;
  }
  .lg-between {
    justify-content: space-between;
  }
  .col-2 {
    & > * {
      width: 100%;
      max-width: 490px;
    }
  }
  .lg-mr-2 {
    margin-right: 2rem;
  }
  .lg-mx-auto {
    margin-left: auto;
    margin-right: auto;
  }
  .lg-w-fit {
    width: fit-content;
  }
  .max-w-md {
    max-width: 634px;
  }
}
